@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

// Color Palette Variables
$primary-color: #82ba77;
$secondary-color: #f28c0f;
$accent-color: #2ad2de;
$neutral-color: #cccece;
$light-neutral-color: #e2e2e2;
$dark-neutral-color: #b5b5b5;
$light-primary-color: #77ba94;
$lighter-primary-color: #d55258;
$dark-primary-color: #5e2326;
$darker-primary-color: #0b3b3b;

// Color Variables
$success: #00ff15;
$caution: #fff700;
$danger: #ff0000;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Anton', sans-serif;

// Timing Variables
$fast: 0.15s;
$normal: 0.35s;
$slow: 0.5s;

.container {
  max-width: 1440px;
}

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
