// Imports
@import './Config.scss';

.list-header {
  margin: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: $darker-primary-color;
  text-align: center;
  line-height: 1.75em;
}

.refresh-btn {
  margin: 0 2rem 2rem 2rem;
  min-height: 2rem;
  position: relative;
  left: 75%;

  &:hover {
    animation-name: rotate;
    animation-iteration-count: 5;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
}

.list-container {
  margin: 2rem;
  padding: 1.5rem;
  background-color: $dark-neutral-color;
  border-radius: 2rem;
}

@keyframes rotate {
  0% {
  }
  25% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-25deg);
  }

  100% {
  }
}
