// Imports
@import './Config.scss';

.lot-sale-container {
  margin: 2rem 0;
  display: grid;
  grid-template-rows: 2fr 0.75fr 0.25fr;
  gap: 1.5rem;

  .lot-sale-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .lot-number-container {
      display: grid;
      gap: 0.5rem;

      .lot-number-label {
        font-size: 0.8rem;
        font-weight: 200;
      }

      .lot-number-data {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    .bidder-number-container {
      display: grid;
      gap: 0.5rem;

      .bidder-number-label {
        font-size: 0.8rem;
        font-weight: 200;
      }

      .bidder-number-data {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    .sale-price-container {
      display: grid;
      gap: 0.5rem;

      .sale-price-label {
        font-size: 0.8rem;
        font-weight: 200;
      }

      .sale-price-data {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    .is-paid-container {
      display: grid;
      gap: 0.5rem;

      .is-paid-label {
        font-size: 0.8rem;
        font-weight: 200;
      }

      .is-paid-data {
        font-size: 1.2rem;
        font-weight: 700;
      }

      .unpaid {
        font-size: 1.2rem;
        font-weight: 700;
        color: $danger;
      }

      .paid {
        font-size: 1.2rem;
        font-weight: 700;
        color: $success;
      }
    }

    .payment-method-container {
      display: grid;
      gap: 0.5rem;

      .payment-method-label {
        font-size: 0.8rem;
        font-weight: 200;
      }

      .payment-method-data {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }

  .lot-sale-notes-container {
    display: grid;
    gap: 1rem;

    .lot-sale-notes-header {
      font-size: 0.8rem;
      font-weight: 200;
      // color: $darker-primary-color;
    }

    .lot-sale-notes-data {
      padding: 1rem;
      resize: none;
      font-family: $primary-font;
      font-weight: light;
      font-size: 0.8rem;
      background-color: $neutral-color;
      border: none;
      border-radius: 1rem;
    }
  }

  .lot-sale-edit-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    align-items: last baseline;
    justify-content: space-between;

    .date-label {
      font-size: 0.6rem;
    }

    .edit-btn {
      max-height: 2rem;
      position: relative;
      // left: 60%;
    }

    .delete-btn {
      max-height: 2rem;
      position: relative;
      // left: 60%;
    }
  }

  #put-modal {
    margin: auto;
    padding: 2rem;
    width: 100%;
    background-color: $light-neutral-color;
    border: none;
    border-radius: 2rem;

    .close-btn {
      min-height: 2.5rem;
    }

    .put-modal-form {
      padding: 1rem;
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 1.5rem;

      .id-container {
        display: grid;
        gap: 0.5rem;

        .id-header {
          font-size: 0.75rem;
          font-weight: light;
          color: $darker-primary-color;
        }

        .id-data {
          font-weight: bold;
          color: $secondary-color;
        }
      }

      .input-container {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        gap: 0.5rem;
        align-items: center;

        .input-header {
          font-size: 0.75rem;
          font-weight: light;
          color: $darker-primary-color;
        }

        .input-data {
          font-weight: bold;
          color: $secondary-color;
        }

        .form-inputs {
          padding: 0.75rem 1rem;
          border: none;
          border-radius: 0.5rem;
          resize: none;
        }

        .checkbox-container {
          display: grid;
          gap: 0.5rem;

          .checkbox-label {
            font-weight: bold;
            color: $secondary-color;
          }
        }
      }

      .btn-container {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        align-items: center;

        .form-submit-btn {
          margin: 0 auto;
          padding: 0.75rem 1rem;
          width: 30%;
          border: none;
          background-color: $primary-color;
          border-radius: 2rem;
          color: #fff;
        }
      }
    }
  }

  #put-modal:focus-visible {
    outline: none;
    border: none;
  }

  #delete-modal {
    margin: auto;
    padding: 2rem;
    width: 80%;
    background-color: $light-neutral-color;
    border: none;
    border-radius: 2rem;

    .delete-modal-container {
      display: grid;
      gap: 1.5rem;

      .delete-modal-data {
        margin: 0 auto;
        font-size: 1.25rem;
        font-weight: bold;
      }

      .delete-modal-header {
        margin: 0 auto;
      }

      .btn-container {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .delete-btn-no {
          margin: 0 auto;
          padding: 0.75rem 1rem;
          width: 40%;
          border: none;
          background-color: $danger;
          border-radius: 2rem;
          color: #fff;
        }

        .delete-btn-yes {
          margin: 0 auto;
          padding: 0.75rem 1rem;
          width: 40%;
          border: none;
          background-color: $success;
          border-radius: 2rem;
          color: #fff;
        }
      }
    }
  }

  #delete-modal:focus-visible {
    outline: none;
    border: none;
  }
}

.lot-sale-hr {
  margin-bottom: 1.5rem;
  border: 1px solid $darker-primary-color;
}
