// Imports
@import './Config.scss';

.nav-container {
  margin: 0 auto;
  display: grid;
  background-color: $primary-color;

  .nav-logo {
    margin: 1rem auto;
    max-width: 8rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 20px $accent-color;
  }
}
