// Imports
@import './Config.scss';

.nav-container {
  height: 10rem;
  display: grid;
  padding: 0 20%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: $primary-color;

  .nav-logo-container {
    margin: 0 auto;
    padding: 1rem;

    .nav-logo {
      max-width: 50%;
      height: 80%;
      border-radius: 50%;
    }
  }

  .nav-links {
    display: none;
    margin: 0 auto;
    display: grid;
    gap: 75%;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    .link {
      text-decoration: none;
      font-size: 1.2rem;
      color: $light-neutral-color;
    }
  }
}
